.app-header {
    align-items: center;
    background: #dcdcdc;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background: linear-gradient(to bottom,#4ea8ce 10%,#96c11f 100%);
    
}

.app-header__logo {
    background: #999;
    height: 25px;
    width: 100px;
}